<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel='stylesheet' href="{{ static_url("styles.css") }}" type="text/css"/>
    <title> Birthday Calculator</title>
  </head>
  <body>
    <h1> Birthday Calculator </h1>
    <form action='/calculate' method='post'>
      <label for='birthdate'> Please enter your birthdate: </label>
      <input id='birthdate' type='text' name='birthdate'
      placeholder='mm/dd/yyyy'>
      <button type='submit'> Submit </button>
    </form>
    {% if results %}
    <div id="results">
      <div>
        Days until next birthday: {{ results['days_until_next_birthday'] }}
      </div>
      <div>
        Your next birthday is on a: {{ results['next_birthday_day_of_week'] }}
      </div>
      <div>
        You are {{ results['years_old'] }} years old
      </div>
    </div>
    {% end %}
  </body>
</html>
